@keyframes flip{
    0% {
        transform: rotateX(0);
    }
    50%{
        transform: rotatex(90deg);
    }
    100%{
        transform: rotateX(0);
    }
}

.letter-box{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border: 2px solid #000;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: blue;
    color: white;
}
.green{
    background-color: green;
    animation: flip 0.5s ease-in-out;
}

.yellow{
    background-color: yellow;
    animation: flip 0.5x ease-in-out;

}

.gray{
    background-color: gray;
    animation: flip 0.5x ease-in-out;
}

